<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="nav(linkActive)">
    <nav th:if="${linkActive == 'manegement'}" class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" th:text="#{index.nav.management.title}" th:href="@{/management}"></a>
        <a class="flex-sm-fill text-sm-center nav-link" th:text="#{index.nav.monitoring.title}" th:href="@{/monitoring}"></a>
    </nav>
    <nav th:if="${linkActive == 'monitoring'}" class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" th:text="#{index.nav.management.title}" th:href="@{/management}"></a>
        <a class="flex-sm-fill text-sm-center nav-link active" th:text="#{index.nav.monitoring.title}" th:href="@{/monitoring}"></a>
    </nav>

    <nav th:if="${linkActive == 'none'}" class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" th:text="#{index.nav.management.title}" th:href="@{/management}"></a>
        <a class="flex-sm-fill text-sm-center nav-link" th:text="#{index.nav.monitoring.title}" th:href="@{/monitoring}"></a>
    </nav>
</div>
</body>
</html>